Source: illinois
Section: base
Priority: optional
Maintainer: {AUTHOR} <{EMAIL}>
Build-Depends: debhelper-compat (= 11)
Standards-Version: 4.5.0
Homepage: https://github.com/polatengin/illinois

Package: illinois
Architecture: any
Description: Bicep documentation generator tool
