Source: illinois
Section: base
Priority: optional
Maintainer: Engin Polat <polatengin@hotmail.com>
Build-Depends: debhelper-compat (= 11)
Standards-Version: 4.5.0
Homepage: https://github.com/polatengin/illinois

Package: illinois
Architecture: any
Depends: ${misc:Depends}
Description: Bicep documentation generator tool
 This tool generates documentation for Bicep files, providing an easy way
 to document your infrastructure as code. It parses Bicep files and produces
 markdown documentation, making it easier to understand and manage
 your infrastructure code.
